header, footer{
  display: flex;
  background-color: rgba(9, 132, 227, 1.00);
}

header{
  height: 4em;
  align-items: center;
  position: sticky;
    top: 0;
    margin-bottom: 2em;
}

footer{
  height: 6em;
  align-items: center;
  
}

.logo{
  cursor: pointer;
  max-height: 50px;
margin-left: 8em;
}

.headBtns>button{
  height: 3em;
  background-color: rgba(9, 132, 227, 1.00);
  border: 0;
  color: white;
  font-size: 16px;
  margin-left: 5em;
  cursor: pointer;
  border-radius: 10px;
}
button:hover{
  background-color: #0c7dd1;
}

.leftFooterContent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.rightFooterContent{
  display: flex;
  align-items: center;
  margin-left: 60%;
}

.problem-list {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Растягиваем элементы по ширине контейнера */
  justify-content: center;
 
}

.problem {
  display: flex;
  
 align-items: center;
  border-top: 1px solid #ddd;
  padding: 10px;
  
}

.problem-title {
  margin: 0;
}

.problem-author, .problem-description {
  margin-top: 5px;
}

.leftContent, .rightContent{
  margin-left: 10em;
}

.loginForm{
  display: flex;
   flex-direction: column;
    align-items: center ;
}

.loginForm > input{
  margin-bottom: 3em;
}
